body{
	background-color: #F7EFF1;
	font-family: sans-serif;
}

.logoLogin {
	width: 250px;
	margin: auto;
	display: block;
}

.formLogin{
	width: 400px;
	margin: auto;	
	padding-top: 200px;
}

.cardLogin{
	box-shadow: 1px 1px 3px 1px #562C24;
	background-color: #FCD9DF;
	padding: 20px;
	border-radius: 5px;
}

.cardLogin h1{
	text-align: center;
	text-transform: uppercase;
	padding-top: 10px;
	font-weight: bold;
	font-size: 22px;
}

.informacoesLogin{
	margin-bottom: 10px;
}

.informacoesLogin label{
	width: 100%;
	display: block;
}

.informacoesLogin input{
	border-radius: 5px;
	width: -webit-fill-available;
	height: 25px;
	outline: 0;
}

.cardLogin button{
	text-transform: uppercase;
	background-color: #6D392E;
	width: 100%;
	border-radius: 30px;
	padding: 15px;
	color: white;
	border: 1px;
}

.cardLogin button:hover{
	background-color: #AD5948;
}

.cardLogin a{
	display: block;
	text-align: center;
	color: #000000;
}

.cardLogin a:hover{
	color: #6D392E;
}


footer{
	text-align: center;
}

.copyright{
	padding-top: 10px;
}

/*tela cadastro*/

.logoCadastro{
	width: 250px;
	margin-right: auto;
	display: block;
	padding: 5px;
}

header{
	background: #FCD9DF;
	box-shadow: 0px 0px 3px 1px #562C24;
}

.titulo{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 22px;
	position: absolute;
	top: 7%;
	right: 40%;
}

.formCadastro{
	width: 50%;
	margin: 2% 25%;
}

.cardCadastro{
	box-shadow: 0px 0px 3px 1px #562C24;
	background-color: #FCD9DF;
	width: 100%;
	border-radius: 10px;
	margin-top: 10px;
}

.informacoesCadastro{
	margin-bottom: 10px;
	padding: 5px;
}

.informacoesCadastro label{
	display: block;
	font-size: 15px;
}

.informacoesCadastro input{
	border-radius: 10px;
	width: 98%;
	height: 25px;
	outline: 0;
	padding: 5px;
}

.formCadastro p{
	padding-top: 5px;
	text-align: center;
	font-size: 20px;
}

.formCadastro button{
	text-transform: uppercase;
	margin-left: 40%;
	background-color: #6D392E;
	width: 20%;
	border-radius: 30px;
	padding: 15px;
	color: white;
	border: 1px;
}

.formCadastro button:hover{
	background-color: #AD5948;
}

.footerTelas{
	padding:  5px 0;
}

/*tela principal*/

.logo{
	width: 250px;
	margin-right: auto;
	display: block;
	padding: 5px;
}

.informacoesUsuario{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 22px;
	position: absolute;
	top: 7%;
	right: 10%;
}

li a{
	text-decoration: none;
	color: black;
	font-size: 20px;
	transition: all .2s linear;
	display: block;	
	padding: 25px 5px;
}

li a:hover{
	background-color: #FDECEF;
}

nav{
	width: 100%;
	position: absolute;
	top: 14,5%;
	background-color: #FCD9DF;
	width: 250px;
	height: 100%;
}

ul{
	list-style: none;
}

.notificacoes{
	background-color: #FCD9DF;
	display: inline-block;
	width: 800px;
	height: 750px;
	border-radius: 5px;
	margin-top: 20px;
}
.notificacaoEstoque{
	margin-left: 15%;
}

.notificacoesPedidos{
	margin-left: 5px;
}

@media only screen and (max-width:420px){
	                    	
}
