/*utilizado em todas as telas*/

body{
	background-color: #F0F2F5;
	font-family: sans-serif;
	color: white;
}

.copyright{
	text-align: center;
	color: black;
	margin-top: 1%;
}

/*tela login*/

.logoLogin {
	width: 250px;
	margin: auto;
	display: block;
}

.formLogin{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cardLogin{
	box-shadow: 1px 1px 3px 1px black;
	background-color: #3F3F46;
	padding: 20px;
	border-radius: 5px;
}

.cardLogin h1{
	text-align: center;
	text-transform: uppercase;
	padding-top: 10px;
	font-weight: bold;
	font-size: 22px;
}

.informacoesLogin{
	margin-bottom: 10px;
}

.informacoesLogin label{
	width: 100%;
	display: block;
}

.informacoesLogin input{
	border-radius: 5px;
    width: -webkit-fill-available;
    height: 25px;
    outline: 0;
    padding: 5px;
}

.cardLogin button{
	text-transform: uppercase;
	background-color: #E53471;
	width: 100%;
	border-radius: 30px;
	padding: 15px;
	color: white;
	border: 1px;
}

.cardLogin button:hover{
	background-color: #EA5D8E;
}

.cardLogin a{
	display: block;
	text-align: center;
	color: white;
}

.cardLogin a:hover{
	color: #EA5D8E;
}

/*tela cadastro*/

.logoCadastro{
	width: 200px;
	display: absolute;
	padding: 15px;
}

.titulo{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 22px;
	position: absolute;
	top: 5%;
	right: 45%;
	color: #3F3F46;
}

.formCadastro{
	width: 50%;
	margin: 2% 25%;
}

.cardCadastro{
	box-shadow: 0px 0px 3px 1px black;
	background-color: #3F3F46;
	width: 100%;
	border-radius: 10px;
	margin-top: 10px;
	padding: 2%;
}

.informacoesCadastro{
	margin-bottom: 10px;
	padding: 5px;
}

.informacoesCadastro label{
	display: block;
	font-size: 15px;
}

.informacoesCadastro input{
	border-radius: 10px;
	width: 98%;
	height: 25px;
	outline: 0;
	padding: 5px;
}

.formCadastro p{
	padding-top: 5px;
	text-align: center;
	font-size: 20px;
}

.formCadastro button{
	text-transform: uppercase;
	margin-left: 40%;
	background-color: #E53471;
	width: 20%;
	border-radius: 30px;
	padding: 15px;
	color: white;
	border: 1px;
}

.formCadastro button:hover{
	background-color: #EA5D8E;
}

.footerTelas{
	padding:  5px 0;
}


/*possui em todas as telas - inicio*/
.logo{
	width: 150px;
	margin:auto;
	display: block;
	padding: 5%;
}

.iconeInformacaoUsuario{
	width: 20px;
	padding: 0px 10px;
}

.iconeMenu{
	width: 25px;
	padding: 0px 10px;
}

.container{
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 10vh 80vh 10vh;
	grid-template-areas: "aside main"
						"aside main"
						"footer footer"
}

main{
	grid-area: main;
}

aside{
	grid-area: aside;
}

footer{
	grid-area: footer;
}

.principal{
	background-color: #E53471;
}

.informacaoUsuario{
	font-weight: bold;
	font-size: 22px;
	color: white;
	text-align: center;
	padding: 20px;
}

li a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	transition: all .2s linear;
	display: block;	
	padding: 25px 5px;
}

li a:hover{
	background-color: #E53471;
}

.menu{
	position: absolute;
	background-color: #3F3F46;
	width: 15%;
	height: 90%;
	border-radius: 15px;
	margin: 10px;
}
/*possui em todas as telas - fim*/

/*tela principal*/
.containerNotificacoes{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 50vh 50vh;
	grid-template-areas: "notificacoesPedidos calendario"
						"notificacoesPedidos notificacoes"
}

.titleNotificacao{
	padding: 15px;
	text-align: center;
	background-color: #E53471;
	border-radius: 10px 10px 0 0;
	color: white;
}

.notificacoesPedidos{
	box-shadow: 0px 1px 3px 1px black;
	background-color: #F7F7F7;
	height: 90%;
	border-radius: 10px;
	color: black;
	font-size: 20px;
	margin: 10px;
	grid-area: notificacoesPedidos;
}

.calendario{
	box-shadow: 0px 1px 3px 1px black;
	background-color: #F7F7F7;
	height: 85%;
	border-radius: 10px;
	color: black;
	font-size: 20px;
	margin: 10px;
	grid-area: calendario;
}

.notificacoes{
	box-shadow: 0px 1px 3px 1px black;
	background-color: #F7F7F7;
	height: 80%;
	border-radius: 10px;
	color: black;
	font-size: 20px;
	margin: 10px;
	grid-area: notificacoes;
}

.calendario img{
	width:60%;
	display: block;
    margin-left: auto;
    margin-right: auto
}

.notificacoesPedidos p{
	text-decoration: none;
	font-size: 20px;	
	padding: 10px;
}

/*media*/

@media only screen and (min-width:600px){
	.cardLogin{
		width: 400px;
	}
}
