.dadosEmpresa{
    margin-top: 3%;
    margin-right: 5%;
    border: 3px solid #E53471;
    padding: 10px;
}

.tituloVisualizar{
    color: #E53471;
    font-size: 20px;
    margin-bottom: 1%;
    margin-top: 1%;
}

.inserirFuncionario{
    margin-top: 2%;
    margin-left: 84%;
    width: 10%;
    background-color: #E53471;
    border-radius: 30px;
    padding: 15px;
    color: white;
    border: 1px;
}

.inserirFuncionario:hover{
    background-color: #EA5D8E;
}

/* mexe em todas as modais*/
.tituloModal{
    text-align: center;
    color: #E53471;
    font-size: 30px;
    margin-bottom: 1%;
    margin-top: 2%;
}

.subtituloModal{
    text-align: center;
    color: #E53471;
    font-size: 20px;
    margin-bottom: 1%;
    margin-top: 2%;
}

.formModalInserirFuncionario label, .formModalEditarFuncionario label{
    width: 20%;
    margin-bottom: 10%;
}

.formModalInserirFuncionario input, .formModalEditarFuncionario input{
    border-radius: 5px;
    width: 30%;
    height: 10px;
    padding: 5px;
}

/*modal inserir funcionario*/
.modalInserirFuncionario{
    color: black;
    background: white;
    width: 30%;
    padding: 10px;
    border: 10px solid #E53471;
    box-shadow: 0 0 0 10px white;
    position: relative;
}

/*editar funcionario*/
.modalEditarFuncionario{
    color: black;
    background: white;
    width: 70%;
    padding: 10px;
    border: 10px solid #E53471;
    box-shadow: 0 0 0 10px white;
    position: relative;
}

/*excluir funcionario*/
.modalExcluirFuncionario{
    color: black;
    background: white;
    width: 20%;
    padding: 30px;
    border: 10px solid #E53471;
    box-shadow: 0 0 0 10px white;
    position: relative;
}

/*adicionar cargo em funcionario*/
.modalAdicionarCargoFuncionario{
    color: black;
    background: white;
    width: 20%;
    padding: 30px;
    border: 10px solid #E53471;
    box-shadow: 0 0 0 10px white;
    position: relative;
}

.centralizar{
    text-align: center;
}

.cadastroFuncionario, .editarFuncionarioModal{
    margin-top: 1%;
    margin-left: 78%;
    width: 20%;
    background-color: #E53471;
    border-radius: 30px;
    padding: 15px;
    color: white;
    border: 1px;
}

.editarAdicionarCargo{
    margin-top: 1%;
    margin-left: 50%;
    width: 50%;
    background-color: #E53471;
    border-radius: 30px;
    padding: 15px;
    color: white;
    border: 1px;
}
