/*utilizado em todas as telas - inicio*/

body{
    background-color: #F0F2F5;
    font-family: sans-serif;
}

.copyright{
    text-align: center;
    color: black;
    margin-top: 3%;
}

/*utilizado em todas as telas - fim*/

/*possui em todas as telas - inicio*/
.logo{
    width: 150px;
    margin:auto;
    display: block;
    padding: 5%;
}

.iconeInformacaoUsuario{
    width: 20px;
    padding: 0px 10px;
}

.iconeMenu{
    width: 25px;
    padding: 0px 10px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: "aside main"
						"aside main"
						"aside footer"
}

main{
    grid-area: main;
    /*Código em que faz apenas o conteúdo ficar rolavel, somente na main*/
    overflow: auto;
    height: 100%;
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}

.principal{
    background-color: #E53471;
}

.informacaoUsuario{
    font-weight: bold;
    font-size: 22px;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 5px;
}

.menu li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: all .2s linear;
    display: block;
    padding: 25px 5px;
}

.menu li a:hover{
    background-color: #E53471;
}

.menu{
    position: absolute;
    background-color: #3F3F46;
    width: 15%;
    height: 90%;
    border-radius: 15px;
    margin: 10px;
}

.titulo{
    text-align: center;
    color: #E53471;
    font-size: 30px;
    margin-bottom: 1%;
    margin-top: 2%;
}

.subtitulo{
    color: #E53471;
    font-size: 23px;
    margin-bottom: 1%;
    margin-top: 2%;
}
/*possui em todas as telas - fim*/


/*busca - inicio*/
.search-container{
    padding-top: 3%;
    width: 490px;
    display: block;

}

input::placeholder {
    color: white;
}

input#search-bar{
    background-color: #E53471;
    color: white;
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #3F3F46;
    outline: none;
    border-radius: 10px;
}

.search-icon{
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
    top: -45px;
    right: -35px;
    background-color: #E53471;
}
/*busca - fim*/

/*tabelas - incio*/

.tabela {
    width: 98%;
    /*height: 10%;*/
    border: solid 2px #3F3F46;
    border-radius: 10px;
    color: #3F3F46;
    margin-top: 5%;
}

thead th{
    color: #F0F2F5;
    font-weight: bold;
    background-color: #3F3F46;
    padding: 1%;
    text-align: left;
}

tbody td{
    padding-bottom: 1%;
    padding-left: 1%;
    border: solid 2px #3F3F46;
    width: fit-content;
}

.centerAcoes{
    text-align: center;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.imgAcoes{
    width: 30px;
}
/*tabelas - fim*/

/*dropdown - inicio*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropbtn{
    border: none;
    background-color: transparent;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #E53471
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*dropdown - fim*/

/*modais no geral - inicio*/
.modal-container{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.mostrar{
    display: flex;
}

.mostrar .modal{
    animation: modal 1s;
}

.fechar{
    position: absolute;
    top: -30px;
    right: -30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    background-color: #E53471;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3);
}

/*modais no geral - fim*/
