/*utilizado em todas as telas*/

body{
    background-color: #F0F2F5;
    font-family: sans-serif;
}

.copyright{
    text-align: center;
    color: black;
    margin-top: 1%;
}

/*tela login*/

.logoLogin {
    width: 250px;
    margin: auto;
    display: block;
}

.formLogin{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardLogin{
    box-shadow: 1px 1px 3px 1px black;
    background-color: #3F3F46;
    padding: 20px;
    border-radius: 5px;
}

.cardLogin h1{
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    font-weight: bold;
    font-size: 22px;
}

.informacoesLogin{
    margin-bottom: 10px;
}

.informacoesLogin label{
    width: 100%;
    display: block;
}

.informacoesLogin input{
    border-radius: 5px;
    width: -webkit-fill-available;
    height: 25px;
    outline: 0;
    padding: 5px;
}

.cardLogin button{
    text-transform: uppercase;
    background-color: #E53471;
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    color: white;
    border: 1px;
}

.cardLogin button:hover{
    background-color: #EA5D8E;
}

.cardLogin a{
    display: block;
    text-align: center;
    color: white;
}

.cardLogin a:hover{
    color: #EA5D8E;
}

/*tela cadastro*/

.logoCadastro{
    width: 200px;
    display: absolute;
    padding: 15px;
}

.titulo{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    position: absolute;
    top: 5%;
    right: 45%;
    color: #3F3F46;
}

.formCadastro{
    width: 50%;
    margin: 2% 25%;
}

.cardCadastro{
    box-shadow: 0px 0px 3px 1px black;
    background-color: #3F3F46;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    padding: 2%;
}

.informacoesCadastro{
    margin-bottom: 10px;
    padding: 5px;
}

.informacoesCadastro label{
    display: block;
    font-size: 15px;
}

.informacoesCadastro input{
    border-radius: 10px;
    width: 98%;
    height: 25px;
    outline: 0;
    padding: 5px;
}

.formCadastro p{
    padding-top: 5px;
    text-align: center;
    font-size: 20px;
}

.formCadastro button{
    text-transform: uppercase;
    margin-left: 40%;
    background-color: #E53471;
    width: 20%;
    border-radius: 30px;
    padding: 15px;
    color: white;
    border: 1px;
}

.formCadastro button:hover{
    background-color: #EA5D8E;
}

.footerTelas{
    padding:  5px 0;
}


/*possui em todas as telas - inicio*/
.logo{
    width: 150px;
    margin:auto;
    display: block;
    padding: 5%;
}

.iconeInformacaoUsuario{
    width: 20px;
    padding: 0px 10px;
}

.iconeMenu{
    width: 25px;
    padding: 0px 10px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: "aside main"
						"aside main"
						"aside footer"
}

main{
    grid-area: main;
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}

.principal{
    background-color: #E53471;
}

.informacaoUsuario{
    font-weight: bold;
    font-size: 22px;
    color: white;
    text-align: center;
    padding: 20px;
}

.menu li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: all .2s linear;
    display: block;
    padding: 25px 5px;
}

.menu li a:hover{
    background-color: #E53471;
}

.menu{
    position: absolute;
    background-color: #3F3F46;
    width: 15%;
    height: 90%;
    border-radius: 15px;
    margin: 10px;
}
/*possui em todas as telas - fim*/

/*tela principal*/
.containerNotificacoes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50vh 50vh;
    grid-template-areas: "notificacoesPedidos calendario"
						"notificacoesPedidos notificacoes"
}

.titleNotificacao{
    padding: 15px;
    text-align: center;
    background-color: #E53471;
    border-radius: 10px 10px 0 0;
    color: white;
}

.notificacoesPedidos{
    box-shadow: 0px 1px 3px 1px black;
    background-color: #F7F7F7;
    height: 90%;
    border-radius: 10px;
    color: black;
    font-size: 20px;
    margin: 10px;
    grid-area: notificacoesPedidos;
}

.calendario{
    box-shadow: 0px 1px 3px 1px black;
    background-color: #F7F7F7;
    height: 85%;
    border-radius: 10px;
    color: black;
    font-size: 20px;
    margin: 10px;
    grid-area: calendario;
}

.notificacoes{
    box-shadow: 0px 1px 3px 1px black;
    background-color: #F7F7F7;
    height: 80%;
    border-radius: 10px;
    color: black;
    font-size: 20px;
    margin: 10px;
    grid-area: notificacoes;
}

.calendario img{
    width:60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.notificacoesPedidos p{
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}

/*tela produto*/

/* busca */
.search-container{
    padding-top: 3%;
    width: 490px;
    display: block;

}

input::placeholder {
    color: white;
}

input#search-bar{
    background-color: #E53471;
    color: white;
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #3F3F46;
    outline: none;
    border-radius: 10px;
}

.search-icon{
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
    top: -45px;
    right: -35px;
}

/*tabela*/

.tabela {
    width: 95%;
    height: 10%;
    border: solid 2px #3F3F46;
    border-radius: 10px;
    color: #3F3F46;
    margin-top: 5%;
}

thead th{
    color: #F0F2F5;
    font-weight: bold;
    background-color: #3F3F46;
    padding: 1%;
    text-align: left;
}

tbody td{
    padding-bottom: 1%;
    padding-left: 1%;
    border: solid 2px #3F3F46;
}

.imgAcoes{
    width: 30px;
}

/*ações*/

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropbtn{
    border: none;
    background-color: transparent;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #E53471
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*botão*/

.botaoProdutos, .botaoPedidos{
    margin-top: 2%;
    margin-left: 84%;
    width: 10%;
    background-color: #E53471;
    border-radius: 30px;
    padding: 15px;
    color: white;
    border: 1px;
}

.botaoProdutos:hover{
    background-color: #EA5D8E;
}

.botaoPedidos:hover{
    background-color: #EA5D8E;
}

/*modal*/
.modal-container{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.mostrar{
    display: flex;
}

/*modal inserir produto*/
.modalInserirProduto{
    color: black;
    background: white;
    width: 50%;
    padding: 10px;
    border: 10px solid #E53471;
    box-shadow: 0 0 0 10px white;
    position: relative;
}

.tituloModal{
    text-align: center;
    color: #E53471;
    font-size: 20px;
    margin-bottom: 1%;
    margin-top: 2%;
}

.formModalInserirProduto label , .formModalEditarProduto label{
    width: 20%;
    margin-bottom: 10%;
}

.formModalInserirProduto input, .formModalEditarProduto label{
    border-radius: 5px;
    width: 30%;
    height: 10px;
    padding: 5px;
}

.cadastroIngrediente, .cadastroPreparo, .cadastroProduto, .editarProdutoModal{
    margin-top: 1%;
    margin-left: 78%;
    width: 20%;
    background-color: #E53471;
    border-radius: 30px;
    padding: 15px;
    color: white;
    border: 1px;
}

.tabelaInserirProduto{
    width: 98%;
    height: 10%;
    border: solid 2px #3F3F46;
    border-radius: 10px;
    color: #3F3F46;
    margin-top: 1%;
}

.cadastroIngrediente:hover{
    background-color: #EA5D8E;
}
.cadastroPreparo:hover{
    background-color: #EA5D8E;
}
.cadastroProduto:hover{
    background-color: #EA5D8E;
}

/*editar produto*/
.modalEditarProduto{
    color: black;
    background: white;
    width: 50%;
    padding: 10px;
    border: 10px solid #E53471;
    box-shadow: 0 0 0 10px white;
    position: relative;
}

/*excluir produto*/
.modalExcluirProduto{
    color: black;
    background: white;
    width: 12%;
    padding: 30px;
    border: 10px solid #E53471;
    box-shadow: 0 0 0 10px white;
    position: relative;
}

.centralizar{
    text-align: center;
}

/*visualizar produto*/
.modalVisualizarProduto{
    color: black;
    background: white;
    width: 60%;
    min-width: 300px;
    padding: 40px;
    border: 10px solid #E53471;
    box-shadow: 0 0 0 10px white;
    position: relative;
}

.tituloVisualizar{
    color: #E53471;
    font-size: 20px;
    margin-bottom: 1%;
    margin-top: 2%;
}

.visualizarInformacoes{
    box-shadow: 0 0 0 1px black;
    padding: 1%;
}


/*modal editar ingrediente*/
.modalExcluirIngrediente{
    color: black;
    background: white;
    width: 16%;
    padding: 30px;
    border: 10px solid #E53471;
    box-shadow: 0 0 0 10px white;
    position: relative;
}

/*modal excluir ingrediente*/
.modalEditarIngrediente{
    color: black;
    background: white;
    width: 60%;
    min-width: 300px;
    padding: 40px;
    border: 10px solid #E53471;
    box-shadow: 0 0 0 10px white;
    position: relative;
}

/*modal editar passo*/
.modalExcluirPasso{
    color: black;
    background: white;
    width: 12%;
    padding: 30px;
    border: 10px solid #E53471;
    box-shadow: 0 0 0 10px white;
    position: relative;
}

/*modal excluir passo*/
.modalEditarPasso{
    color: black;
    background: white;
    width: 60%;
    min-width: 300px;
    padding: 40px;
    border: 10px solid #E53471;
    box-shadow: 0 0 0 10px white;
    position: relative;
}

/*modal inserir pedido*/
.modalInserirPedido{
    color: black;
    background: white;
    width: 50%;
    padding: 10px;
    border: 10px solid #E53471;
    box-shadow: 0 0 0 10px white;
    position: relative;
}

/*editar pedido*/
.modalEditarPedido{
    color: black;
    background: white;
    width: 50%;
    padding: 10px;
    border: 10px solid #E53471;
    box-shadow: 0 0 0 10px white;
    position: relative;
}

/*excluir pedido*/
.modalExcluirPedido{
    color: black;
    background: white;
    width: 12%;
    padding: 30px;
    border: 10px solid #E53471;
    box-shadow: 0 0 0 10px white;
    position: relative;
}

/*visualizar pedido */
.modalVisualizarPedido{
    color: black;
    background: white;
    width: 60%;
    min-width: 300px;
    padding: 40px;
    border: 10px solid #E53471;
    box-shadow: 0 0 0 10px white;
    position: relative;
}

.mostrar .modal{
    animation: modal 1s;
}

.fechar{
    position: absolute;
    top: -30px;
    right: -30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    background-color: #E53471;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3);
}

/*media*/

@media only screen and (min-width:600px){
    .cardLogin{
        width: 400px;
    }
}
